---
title: "About Us"
description: "Discover the story behind Susquehanna Web Designs. Our experienced team is dedicated to providing custom web solutions with a focus on responsive, user-friendly, and SEO-friendly web design."
preloadImg: "/assets/images/banner.webp"
permalink: "about/"
eleventyNavigation:
  key: About
  order: 600
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1401">
  <div class="cs-container">
    <span class="cs-int-title">About Us</span>
    <div class="cs-breadcrumbs">
      <a href="" class="cs-link">Home</a>
      <a href="" class="cs-link cs-active">About</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/banner_mobile.webp"
    />
    <!--Tablet and above Image-->
    <source media="(min-width: 601px)" srcset="/assets/images/banner.webp" />
    <img
      decoding="async"
      src="/assets/images/banner.webp"
      alt="Autumn foliage in Harrisburg, PA along the Susquehanna River, showcasing vibrant red, orange, and yellow leaves reflecting on the water"
      width="1920"
      height="500"
      aria-hidden="true"
    />
  </picture>
</div>

<section id="content-page-1401">
  <div class="cs-container">
    <div class="cs-image-group">
      <div class="cs-flex">
        <picture class="cs-background">
          <source
            media="(max-width: 600px)"
            srcset="
              /assets/images/harrisburg-web-design-small-business-reflection-mobile.webp
            "
          />

          <source
            media="(min-width: 601px)"
            srcset="
              /assets/images/harrisburg-web-design-small-business-reflection.webp
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/harrisburg-web-design-small-business-reflection.webp"
            alt="Harrisburg skyline reflecting on the river at sunset, showcasing Harrisburg web design and small business web design aesthetics."
            width="542"
            height="728"
          />
        </picture>

        <!-- <div class="cs-box">
          <img
            class="cs-box-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear-white.svg"
            alt="people"
            width="60"
            height="60"
          />
          <span class="cs-desc"> We’ve Over 26 Years of Experience </span>
        </div> -->
      </div>
      <!-- <ul class="cs-card-group">
        <li class="cs-item">
          <h3 class="cs-h3">
            <img
              class="cs-h3-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg"
              alt="icon"
              width="32"
              height="32"
            />
            Quality Services
          </h3>
          <p class="cs-item-text">
            There are many variations of but the majority is simply free
            suffered.
          </p>
        </li>
        <li class="cs-item">
          <h3 class="cs-h3">
            <img
              class="cs-h3-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg"
              alt="icon"
              width="32"
              height="32"
            />
            Quality Services
          </h3>
          <p class="cs-item-text">
            There are many variations of but the majority is simply free
            suffered.
          </p>
        </li>
      </ul> -->
    </div>
    <div class="cs-content">
      <h1 class="cs-title">
        Meet Susquehanna Web Designs - Your Partner for Small Business Web
        Design
      </h1>
      <p>
        Welcome to Susquehanna Web Designs, where we combine expertise in
        responsive website design with a passion for helping small businesses in
        the Susquehanna Valley and beyond thrive online.
      </p>
      <h2>Our Journey in Small Business Web Design</h2>
      <p>
        Founded with a vision to empower local businesses, Susquehanna Web
        Designs has grown into a renowned name in the industry. Our experienced
        web design team has a strong track record, crafting custom small
        business websites that resonate with your brand's unique voice.
      </p>
      <h2>Supporting Local Businesses</h2>
      <p>
        Our commitment extends beyond just design; we are passionate about
        supporting local businesses in central Pennsylvania. Whether you're
        small business is located along the susquehanna river in the Harrisburg
        area, or elsewhere , our team is dedicated to providing you with a
        website that captures the essence of your local business and connects
        you with your community.
      </p>

      <h2>Our Small Business Web Design Services</h2>
      <p>
        From responsive web design to ongoing website maintenance, we offer a
        range of services tailored to your needs. Our solutions are designed to
        be scalable, supporting your business as it grows.
      </p>

      <h2>Why Choose Susquehanna Web Designs?</h2>
      <p>
        We are not just another web design company. We are a team of creative
        thinkers, problem solvers, and digital enthusiasts committed to
        delivering excellence. Our portfolio speaks volumes about our ability to
        transform ideas into digital realities.
      </p>
    </div>
  </div>
  <!-- <div class="cs-bubbles" aria-hidden="true"></div> -->
</section>

{% endblock %}
