---
title: "Projects"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "portfolio/"
eleventyNavigation:
  key: Portfolio
  order: 300
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/portfolio.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
  <div class="cs-container">
    <span class="cs-int-title">About Us</span>
    <div class="cs-breadcrumbs">
      <a href="" class="cs-link">Home</a>
      <a href="" class="cs-link cs-active">About</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/banner_mobile.webp"
    />
    <!--Tablet and above Image-->
    <source media="(min-width: 601px)" srcset="/assets/images/banner.webp" />
    <img
      decoding="async"
      src="/assets/images/banner.webp"
      alt="Autumn foliage in Harrisburg, PA along the Susquehanna River, showcasing vibrant red, orange, and yellow leaves reflecting on the water"
      width="1920"
      height="500"
      aria-hidden="true"
    />
  </picture>
</div>

{% endblock %}
