---
title: "Small Business Web Design | Web Design Services for Small Business"
description: "Discover expert small business web design services at Susquehanna Web Designs in Harrisburg, PA. Specializing in custom websites starting at just $50/month."
preloadImg: "src/assets/images/home/Harrisburg-Capitol-Architecture-Design.webp"
permalink: "/"
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->
<section id="hero-1349">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Susquehanna Web Designs</span>
      <h1 class="cs-title">Small Business Web Design Services</h1>
      <p class="cs-text">
        Custom small business web design services tailored to your needs with
        packages starting at only $50 per month. Our in-house team of experts
        hand-codes every website, avoiding templated solutions like Wordpress or
        other website builders, ensuring a truly unique and memorable experience
        for your customers.
      </p>
      <a href="" class="cs-button-solid">LEARN MORE!</a>
    </div>
  </div>
  <!--Bubble Groups-->
  <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
  <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
  <!-- Background Image, background image added in the css at 1600px for parallax effect -->
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="assets/images/home/capitol_mobile.webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="
        src/assets/images/home/Harrisburg-Capitol-Architecture-Design.webp
      "
    />
    <img
      decoding="async"
      src="src/assets/images/home/Harrisburg-Capitol-Architecture-Design.webp"
      alt="Upward view of the Harrisburg, PA Capitol dome architecture, potential inspiration for Harrisburg web design themes"
      width="1920"
      height="1080"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1378">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">WHAT WE DO</span>
      <h2 class="cs-title">Our Website Design & Development Services</h2>
      <br />
      <p class="cs-text">
        At Susquehanna Web Designs, we are dedicated to empowering small
        businesses with top-tier and affordable custom website design and
        development services. Our experienced team of web designers craft every
        line of code by hand, guaranteeing optimal performance and a seamless
        user experience for your customers.
      </p>
      <br />
      <p class="cs-text">
        Located in beautiful
        <a href="/locations/harrisburg-web-design">Harrisburg, PA</a>, we pride
        ourselves on our ability to connect with business owners and understand
        their business needs. As experts in small business website design, we
        believe your website should be a reflection of your company's values and
        mission. Through our bespoke design process, we ensure each website we
        create tells your unique story while effectively reaching your target
        audience.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg"
            alt="icon"
            width="48"
            height="48"
          />
        </picture>
        <h3 class="cs-h3">Responsive Design & Development</h3>
        <p class="cs-item-text">
          We embrace a forward-thinking, mobile-first approach in our website
          design and development services. We ensure that your website adapts
          flawlessly to screens of all sizes, from the smallest mobile device to
          the most spacious desktop. Whether you require a simplistic design for
          your small business or an intricate e-commerce solution, our
          experienced team is ready and equipped to assist you.
        </p>
        <!-- <a href="/services" class="cs-link">
          <img
            class="cs-arrow"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
            alt="arrow"
            width="413"
            height="374"
            aria-hidden="true"
          />
        </a> -->
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-media.svg"
            alt="icon"
            width="48"
            height="48"
          />
        </picture>
        <h3 class="cs-h3">Search Engine Optimization</h3>
        <p class="cs-item-text">
          We recognize the critical importance of effective online presence for
          your small business. Our skillful web developers excel in search
          engine optimization (SEO), skillfully blending both on-page and
          off-page strategies to boost your small business website's rankings in
          search engine results and attracting potential customers.
        </p>
        <!-- <a href="/services" class="cs-link">
          <img
            class="cs-arrow"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
            alt="arrow"
            width="413"
            height="374"
            aria-hidden="true"
          />
        </a> -->
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-alert.svg"
            alt="icon"
            width="48"
            height="48"
          />
        </picture>
        <h3 class="cs-h3">Website Maintenance</h3>
        <p class="cs-item-text">
          We prioritize ensuring that our clients' websites are secure, updated,
          and performing optimally at all times. Our comprehensive website
          maintenance services offer round-the-clock customer support, unbounded
          content revisions and redesigns as needed. Furthermore, we handle
          domain name registration and offer web hosting at no additional
          charge.
        </p>
        <!-- <a href="/services" class="cs-link">
          <img
            class="cs-arrow"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
            alt="arrow"
            width="413"
            height="374"
            aria-hidden="true"
          />
        </a> -->
      </li>
    </ul
  </div>
</section>

<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->


<section id="why-choose-1371">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">WHY CHOOSE US</span>
      <h2 class="cs-title">Why Choose Susquehanna Web Designs?</h2>
      <br />
      <p class="cs-text">
        Susquehanna Web Designs is your reliable partner for small business
        website design. Our focus is to provide effective, responsive websites
        that are catered towards fostering customer engagement and empowering
        local businesses.
      </p>
      <p class="cs-text">
        Our professional team offers a significant repertoire of experience in
        web design and development for small businesses, making us proficient in
        delivering digital solutions. Our work goes beyond merely crafting
        aesthetic appeal, we also focus on improving your site’s search results
        ranking via methodical optimization processes.
      </p>
      <p class="cs-text">
        We understand the need for ongoing maintenance to ensure your website
        remains updated and operates efficiently. We provide comprehensive
        services to our clients, from domain registration to web hosting,
        enabling you to devote your time and energy to business growth.
      </p>
      <p class="cs-text">
        Partnering with Susquehanna Web Designs means choosing a professional,
        consistent, and dedicated team to meet your specific needs..
      </p>
      <br />
      <h2 class="cs-title">$0 Down, $50 Per Month, <br />6 Month Contract</h2>
      <p class="cs-text">
        Boost your online presence in your local market leveraging our small
        business web design services. Get started today with a custom 8-page
        website without any upfront costs. For projects demanding more
        comprehensive tasks or larger websites, we offer flexible pricing to
        accommodate the increased pages, project magnitude, and time needed.
      </p>
      <p class="cs-text">
        <strong>
          You will always retain full ownership of your domain name, content,
          and profiles. Cancel your services at any time, free from any hidden
          fees or complications.
        </strong>
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <h3 class="cs-h3">
          <img
            class="cs-h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why1.svg"
            alt="icon"
            width="24"
            height="24"
          />
          Hosting Fees Included
        </h3>
        <p class="cs-item-text">
          We provide web hosting for your site at no additional charge.
        </p>
      </li>
      <li class="cs-item">
        <h3 class="cs-h3">
          <img
            class="cs-h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why2.svg"
            alt="icon"
            width="24"
            height="24"
          />
          24/7 Customer Service
        </h3>
        <p class="cs-item-text">
          Reach out directly to us whenever you need to, without navigating
          through phone trees or dealing with automated responses.
        </p>
      </li>
      <li class="cs-item">
        <h3 class="cs-h3">
          <img
            class="cs-h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why3.svg"
            alt="icon"
            width="24"
            height="24"
          />
          Unmatched Page Speed
        </h3>
        <p class="cs-item-text">
          Your site can achieve a perfect Google Page Speed score, providing a
          significant boost to search engine rankings.
        </p>
      </li>
      <li class="cs-item-picture">
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="
              assets/images/Expert-Consultation-Small-Business-Web-Design.jpg
            "
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="
              assets/images/Expert-Consultation-Small-Business-Web-Design.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="assets/images/Expert-Consultation-Small-Business-Web-Design.jpg"
            alt="Two professionals smiling while collaborating on small business web design strategies"
            width="590"
            height="418"
          />
        </picture>
      </li>
      <li class="cs-item">
        <h3 class="cs-h3">
          <img
            class="cs-h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why4.svg"
            alt="icon"
            width="24"
            height="24"
          />
          Unlimited Edits
        </h3>
        <p class="cs-item-text">
          Looking to update your website? Let us know, and we guarantee to
          implement the changes within the same day.
        </p>
      </li>
      <li class="cs-item">
        <h3 class="cs-h3">
          <img
            class="cs-h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why5.svg"
            alt="icon"
            width="24"
            height="24"
          />
          Web Design & Development
        </h3>
        <p class="cs-item-text">
          We will provide a unique, professional, and mobile-friendly website
          designed and coded for your needs.
        </p>
      </li>
      <li class="cs-item">
        <h3 class="cs-h3">
          <img
            class="cs-h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why6.svg"
            alt="icon"
            width="24"
            height="24"
          />
          Google Analytics
        </h3>
        <p class="cs-item-text">
          We integrate your website with Google Analytics, allowing you to
          monitor traffic and where it comes from.
        </p>
      </li>
    </ul>
    <a href="/contact" class="cs-button-solid">Discover More</a>
  </div>
  <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
  <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1384">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">OUR PRICING</span>
      <h2 class="cs-title">Flexible Pricing Plans for Your Small Business</h2>
      <br />
      <p class="cs-text">
        We understand that every small business has unique needs and budgets.
        With our flexible pricing options, we can tailor our website design and
        development solutions to fit any budget. Whether you're a startup in
        need of a basic web presence or a growing business looking to upgrade
        and optimize your site, we've got a plan that's perfect for you.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-flex">
          <span class="cs-package">Basic Pack</span>
          <span class="cs-price">
            $75
            <span class="cs-duration">/Month</span>
          </span>
          <div class="cs-tag">
            <img
              class="cs-icon"
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg"
              decoding="async"
              alt="fire"
              width="16"
              height="16"
              loading="true"
            />
            Popular
          </div>
        </div>
        <ul class="cs-ul">
          <li class="cs-li">Mobile-Optimized</li>
          <li class="cs-li">Free Custom Domain</li>
          <li class="cs-li cs-disabled">Best Hosting</li>
          <li class="cs-li cs-disabled">Outstanding Support</li>
          <li class="cs-li cs-disabled">Happy Customers</li>
        </ul>
        <a href="/contact" class="cs-button-secondary">Contact Us</a>
      </li>
      <li class="cs-item cs-popular">
        <div class="cs-flex">
          <span class="cs-package">Standard Pack</span>
          <span class="cs-price">
            $99
            <span class="cs-duration">/Month</span>
          </span>
          <div class="cs-tag">
            <img
              class="cs-icon"
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg"
              decoding="async"
              alt="fire"
              width="16"
              height="16"
              loading="true"
            />
            Popular
          </div>
        </div>
        <ul class="cs-ul">
          <li class="cs-li">Mobile-Optimized</li>
          <li class="cs-li">Free Custom Domain</li>
          <li class="cs-li">Best Hosting</li>
          <li class="cs-li cs-disabled">Outstanding Support</li>
          <li class="cs-li cs-disabled">Happy Customers</li>
        </ul>
        <a href="/contact" class="cs-button-transparent">Contact Us</a>
      </li>
      <li class="cs-item">
        <div class="cs-flex">
          <span class="cs-package">Corporate Pack</span>
          <span class="cs-price">
            $299
            <span class="cs-duration">/Month</span>
          </span>
          <div class="cs-tag">
            <img
              class="cs-icon"
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg"
              decoding="async"
              alt="fire"
              width="16"
              height="16"
              loading="true"
            />
            Popular
          </div>
        </div>
        <ul class="cs-ul">
          <li class="cs-li">Mobile-Optimized</li>
          <li class="cs-li">Free Custom Domain</li>
          <li class="cs-li">Best Hosting</li>
          <li class="cs-li">Outstanding Support</li>
          <li class="cs-li">Happy Customers</li>
        </ul>
        <a href="/contact" class="cs-button-secondary">Contact Us</a>
      </li>
    </ul>
  </div>
</section>

<script>
  const navBar = document.getElementById("cs-navigation");
  const heroSection = document.getElementById("hero-1349");

  let lastScrollTop = 0;

  // Function to determine whether the element is in the viewport
  function isInViewport(element) {
    const rect = element.getBoundingClientRect();
    return (
      rect.top <=
        (window.innerHeight || document.documentElement.clientHeight) &&
      rect.bottom >= 0
    );
  }

  // Function to handle the visibility of the navigation bar
  function handleNavBarVisibility() {
    const currentScroll =
      window.pageYOffset || document.documentElement.scrollTop;

    // Apply the effect when the hero section is not in the viewport
    if (!isInViewport(heroSection)) {
      navBar.classList.add("highlight");
      navBar.classList.remove("hidden");
    } else {
      navBar.classList.remove("highlight");

      if (currentScroll > lastScrollTop) {
        // Optionally, hide the nav bar when scrolling down
        navBar.classList.add("hidden");
      } else {
        // Show the nav bar when scrolling up
        navBar.classList.remove("hidden");
      }
    }

    lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
  }

  // Scroll event listener
  window.addEventListener("scroll", handleNavBarVisibility, false);
</script>

{% include 'components/cta.html' %} {% endblock %}
