---
title: "Susquehanna Web Designs"
description: "Professional Web Design and Development for Small Businesses"
preloadImg: ""
permalink: "/"
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->
<section id="hero-1349">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Susquehanna Web Designs</span>
      <h1 class="cs-title">
        Pro Web Design + Development for Small Businesses
      </h1>
      <p class="cs-text">
        Based in Harrisburg, PA, we offer custom web design services for small
        businesses with packages starting at $50/mo. No Wordpress or page-builders — our
        websites are all hand-coded and managed by our in-house team of
        marketing professionals!
      </p>
      <a href="" class="cs-button-solid">Free Consultation</a>
    </div>
  </div>
  <!--Bubble Groups-->
  <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
  <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
  <!-- Background Image, background image added in the css at 1600px for parallax effect -->
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="assets/images/bridge_small.jpg"
    />
    <source media="(min-width: 601px)" srcset="assets/images/bridge.jpg" />
    <img
      decoding="async"
      src="assets/images/bridge.jpg"
      alt="web designer"
      width="2121"
      height="1414"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1378">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Services</span>
      <h2 class="cs-title">
        We’re Commited to Deliver Top High Quality Services
      </h2>
      <p class="cs-text">
        Based in Harrisburg, PA, we offer custom web design services for small
        businesses. No Wordpress or page-builders — our websites are all
        hand-coded and managed by our in-house team of marketing professionals!
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg"
            alt="icon"
            width="48"
            height="48"
          />
        </picture>
        <h3 class="cs-h3">Web Design & Development</h3>
        <p class="cs-item-text">
          Blanket term for a whole gamut of different holistic, non-medical,
          physical procedures aimed at helping you achieve
        </p>
        <a href="/" class="cs-link">
          <img
            class="cs-arrow"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
            alt="arrow"
            width="413"
            height="374"
            aria-hidden="true"
          />
        </a>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-media.svg"
            alt="icon"
            width="48"
            height="48"
          />
        </picture>
        <h3 class="cs-h3">Mobile-First Responsiveness</h3>
        <p class="cs-item-text">
          Blanket term for a whole gamut of different holistic, non-medical,
          physical procedures aimed at helping you achieve
        </p>
        <a href="/" class="cs-link">
          <img
            class="cs-arrow"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
            alt="arrow"
            width="413"
            height="374"
            aria-hidden="true"
          />
        </a>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-alert.svg"
            alt="icon"
            width="48"
            height="48"
          />
        </picture>
        <h3 class="cs-h3">SEO Optimization</h3>
        <p class="cs-item-text">
          Blanket term for a whole gamut of different holistic, non-medical,
          physical procedures aimed at helping you achieve
        </p>
        <a href="/" class="cs-link">
          <img
            class="cs-arrow"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
            alt="arrow"
            width="413"
            height="374"
            aria-hidden="true"
          />
        </a>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                   Portfolio                  -->
<!-- ============================================ -->

<section id="gallery-1374">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Portfolio</span>
      <h2 class="cs-title">Our Recent Work</h2>
      <p class="cs-text">
        We specialize in designing and developing websites for small businesses
        across the US.Every line of code is written by hand to ensure the best
        performance, which helps bring in more customers to your site and bring
        more revenue to your business.
      </p>
    </div>
    <ul class="cs-image-group">
      <!-- Card 1 -->
      <li class="cs-item">
        <a href="/" class="cs-link">
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-1.png
              "
            />
            <source
              media="(min-width: 601px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-1.png
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-1.png"
              alt="fancy house"
              width="346"
              height="346"
            />
          </picture>
          <div class="cs-item-text">
            <div class="cs-flex">
              <h3 class="cs-h3">Voyage</h3>
              <span class="cs-desc">A complete Travel Agency App UI</span>
            </div>
            <picture class="cs-icon-wrapper">
              <img
                class="cs-icon"
                decoding="async"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                alt="arrow"
                width="413"
                height="374"
                aria-hidden="true"
              />
            </picture>
          </div>
        </a>
      </li>
      <!-- Card 2 -->
      <li class="cs-item">
        <a href="/" class="cs-link">
          <picture class="cs-picture">
            <source
              media="(max-width: 600px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png
              "
            />
            <source
              media="(min-width: 601px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png
              "
            />
            <img
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png"
              alt="modern house"
              width="346"
              height="346"
            />
          </picture>
          <div class="cs-item-text">
            <div class="cs-flex">
              <h3 class="cs-h3">Matcha and Co</h3>
              <span class="cs-desc">A Tea Brand E-commerce Website</span>
            </div>
            <picture class="cs-icon-wrapper">
              <img
                class="cs-icon"
                decoding="async"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                alt="arrow"
                width="413"
                height="374"
                aria-hidden="true"
              />
            </picture>
          </div>
        </a>
      </li>
    </ul>
    <a href="/" class="cs-button-solid">View All Works</a>
  </div>
  <div class="cs-bubbles" aria-hidden="true"></div>
</section>
<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-1371">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Why Choose Us</span>
      <h2 class="cs-title">$0 Down, $50 Per Month, 6 Month Contract</h2>
      <p class="cs-text">
        $0 down for a standard 5 page small business website. If you need more
        than that then we are happy to do custom pricing based on the scope of
        work, number of additional pages, and time involved.
      </p>
      <p class="cs-text">
        <strong
          >You own your domain, content, listing, and profiles. Cancel anytime
          with no fees or hassle.</strong
        >
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <h3 class="cs-h3">
          <img
            class="cs-h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why1.svg"
            alt="icon"
            width="24"
            height="24"
          />
          Hosting Fees Included
        </h3>
        <p class="cs-item-text">
          Hosting fees are built into your monthly payment, no unexpected
          charges.
        </p>
      </li>
      <li class="cs-item">
        <h3 class="cs-h3">
          <img
            class="cs-h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why2.svg"
            alt="icon"
            width="24"
            height="24"
          />
          24/7 Customer Service
        </h3>
        <p class="cs-item-text">
          Give your web developer a call anytime, no phone trees or automated
          responses.
        </p>
      </li>
      <li class="cs-item">
        <h3 class="cs-h3">
          <img
            class="cs-h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why3.svg"
            alt="icon"
            width="24"
            height="24"
          />
          Unmatched Page Speed
        </h3>
        <p class="cs-item-text">
          Your site can achieve a 100 Google Page Speed score, significantly
          boost your search engine ranking.
        </p>
      </li>
      <li class="cs-item-picture">
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="assets/images/why_choose_img.jpg"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="assets/images/why_choose_img.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="assets/images/why_choose_img.jpg"
            alt="people"
            width="590"
            height="418"
          />
        </picture>
      </li>
      <li class="cs-item">
        <h3 class="cs-h3">
          <img
            class="cs-h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why4.svg"
            alt="icon"
            width="24"
            height="24"
          />
          Unlimited Edits
        </h3>
        <p class="cs-item-text">
          Need to make a change to your website? Let us know and it will be done
          same-day.
        </p>
      </li>
      <li class="cs-item">
        <h3 class="cs-h3">
          <img
            class="cs-h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why5.svg"
            alt="icon"
            width="24"
            height="24"
          />
          Web Design & Development
        </h3>
        <p class="cs-item-text">
          Includes over 40 hours of design, development, and testing.
        </p>
      </li>
      <li class="cs-item">
        <h3 class="cs-h3">
          <img
            class="cs-h3-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/why6.svg"
            alt="icon"
            width="24"
            height="24"
          />
          Google Analytics
        </h3>
        <p class="cs-item-text">
          We install Analytics for free to monitor traffic and where it comes
          from.
        </p>
      </li>
    </ul>
    <a href="" class="cs-button-solid">Discover More</a>
  </div>
  <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
  <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1384">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Pricing</span>
      <h2 class="cs-title">Flexible Pricing for Your Tailored Needs</h2>
      <p class="cs-text">
        In the new era of technology we look in the future with certainty and
        for any post types, or just they are so much great of all to a program.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-flex">
          <span class="cs-package">Upfront</span>
          <span class="cs-price">
            $2,500
            <span class="cs-duration"></span>
          </span>
          <div class="cs-tag">
            <img
              class="cs-icon"
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg"
              decoding="async"
              alt="fire"
              width="16"
              height="16"
              loading="true"
            />
            Hot Deal
          </div>
        </div>
        <ul class="cs-ul">
          <li class="cs-li">Mobile-Optimized</li>
          <li class="cs-li">Free Custom Domain</li>
          <li class="cs-li cs-disabled">Best Hosting</li>
          <li class="cs-li cs-disabled">Outstanding Support</li>
          <li class="cs-li cs-disabled">Happy Customers</li>
        </ul>
        <a href="" class="cs-button-transparent">Get Now</a>
      </li>
      <li class="cs-item cs-popular">
        <div class="cs-flex">
          <span class="cs-package">Standard</span>
          <span class="cs-price">
            $50
            <span class="cs-duration">/Month</span>
          </span>
          <div class="cs-tag">
            <img
              class="cs-icon"
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg"
              decoding="async"
              alt="fire"
              width="16"
              height="16"
              loading="true"
            />
            Hot Deal
          </div>
        </div>
        <ul class="cs-ul">
          <li class="cs-li">Mobile-Optimized</li>
          <li class="cs-li">Free Custom Domain</li>
          <li class="cs-li">Best Hosting</li>
          <li class="cs-li cs-disabled">Outstanding Support</li>
          <li class="cs-li cs-disabled">Happy Customers</li>
        </ul>
        <a href="" class="cs-button-transparent">Get Now</a>
      </li>
      <li class="cs-item">
        <div class="cs-flex">
          <span class="cs-package">SEO Services</span>
          <span class="cs-price">
            $300
            <span class="cs-duration">/Month</span>
          </span>
          <div class="cs-tag">
            <img
              class="cs-icon"
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg"
              decoding="async"
              alt="fire"
              width="16"
              height="16"
              loading="true"
            />
            Hot Deal
          </div>
        </div>
        <ul class="cs-ul">
          <li class="cs-li">Mobile-Optimized</li>
          <li class="cs-li">Free Custom Domain</li>
          <li class="cs-li">Best Hosting</li>
          <li class="cs-li">Outstanding Support</li>
          <li class="cs-li">Happy Customers</li>
        </ul>
        <a href="" class="cs-button-transparent">Read More</a>
      </li>
    </ul>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
