/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0em) {
  :root {
    --primary: #073980; /* Main Background, Header/Footer, Text/Headings */
    --primaryLight: #1e74b3; /* Secondary Text, Hover States, Borders */
    --secondary: #30589E; /* Sub-Headers, Icons, Divider Lines */
    --secondaryLight: #557ABF; /* Background for Callouts, Breadcrumbs, Inactive States */
    --accent: #e55a5a; /* Primary CTAs, Important Buttons, Active Menu Items */
    --accentLight: #e79a9e; /* Secondary CTAs, Alerts/Notifications, Progress Bars */
    --accentLight2: #eac7cc;
    --background: #f5f9ff; /* Main Content Area, Off-Canvas Menus, Modal Backgrounds */
    // --neutral: #yourNeutralColor; /* Tertiary Buttons, Form Fields, Pagination Controls */
    --navHover: #befcff;
    --navActive: #8afaff;

    --accentLight2: #eac7cc;

    --cardColor: #eef2f8;
    --pricingCard: #d5deee;
    --pricingCardSecondary: #cbdff0;

    --accentCard: #fce4e6;


    --lightGray: #cad6e8;
    --lightGray2: #eaeef4;
    --lightGray3:#e0e0e0

    --headerColor: #fdfcfa;
    --offWhite: #f6f6f6;
    --bodyTextColor: #4e4b66;
    --heroTextColor: #fff;
    --bodyTextColorWhite: #fafbfc;

    // --primaryLight: ##0050b3;
    // --primary3: #0067e6;
    // --primary4: #1a81ff;
    // --primary5: #4d9dff
    // --tertiary: #80d2ff;
    // --tertiary2: #43b7ff;
    // --tertiary3: #bfe9ff;
    // --lightBlue: #ccf0ff
    // --primary: #1a4d7f;
    // --primaryLight: #43b7ff;
    // --secondary: #124459;
    // --tertiary: #9ae1ff
    // --lightBlue: #ccf0ff
    // --orange: #ffab01;
    // --orangeLight: #ffae6d;
    // --accent: #ff5722;
    // --ctaButton: #2f80b3;

    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;

    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  }

  // Turns header logo white
  .cs-logo img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(54%) saturate(365%)
      hue-rotate(309deg) brightness(107%) contrast(98%);
    transition: filter 0s;

    // Filter to --primaryLight //
    // &:hover {
    //   filter: brightness(0) invert(61%) sepia(60%) saturate(1730%)
    //     hue-rotate(178deg) brightness(101%) contrast(109%);
    // }
  }

  // Text styles - can be replaced using CodeStitch's "Content Flair" Stitches
  // .cs-topper {
  //   font-size: var(--topperFontSize);
  //   font-weight: 700;
  //   line-height: 1.2em;
  //   margin-bottom: calc(5 / 16 * 1rem);
  //   text-transform: uppercase;
  //   letter-spacing: 0.1em;
  //   color: var(--secondary);
  //   display: block;
  // }

  // .cs-title {
  //   font-size: var(--headerFontSize);
  //   font-weight: 900;
  //   line-height: 1.2em;
  //   margin-bottom: calc(10 / 16 * 1rem);
  //   // margin: 0 auto calc(16 / 16 * 1rem);
  //   color: var(--headerColor);
  //   position: relative;
  // }

  // .cs-text {
  //   font-size: var(--bodyFontSize);
  //   line-height: 1.5em;
  //   width: 100%;
  //   margin: 0 auto;
  //   color: var(--bodyTextColor);
  // }

  // Button - can be replaced using CodeStitch's "Button" Stitches
  //   .cs-button-solid {
  //     font-size: calc(16 / 16 * 1rem);
  //     font-weight: bold;
  //     line-height: calc(50 / 16 * 1em);
  //     text-align: center;
  //     text-transform: uppercase;
  //     text-decoration: none;
  //     width: auto;
  //     height: calc(50 / 16 * 1rem);
  //     padding: 0 calc(30 / 16 * 1rem);

  //     // Transition Properties
  //     color: #000;
  //     background-color: var(--primaryLight);
  //     display: inline-block;
  //     position: relative;
  //     z-index: 1;
  //     transition: color 0.3s;
  //     transition-delay: 0.1s;

  //     &:hover {
  //       color: var(--primary);
  //       &:before {
  //         width: 100%;
  //       }
  //     }

  //     &:before {
  //       content: "";

  //       //Transition properties
  //       width: 0;
  //       height: 100%;
  //       background-color: #000;
  //       opacity: 1;
  //       display: block;
  //       position: absolute;
  //       top: 0;
  //       left: 0;
  //       z-index: -1;
  //       transition: width 0.3s;
  //     }
  //   }
  // }

  /* Fonts and general styles */
  @media only screen and (min-width: 0em) {
    // Grab your fonts to locally host from https://google-webfonts-helper.herokuapp.com/fonts

    /* Define font-faces for various Poppins weights */
    /* Define font-faces for various Poppins weights */
    @font-face {
      font-family: "Poppins";
      font-weight: 400;
      font-style: normal;
      src: url("https://fonts.gstatic.com/s/poppins/v24/pxiDyp8kv8JHgFVrJJfTw07a.ttf")
        format("truetype");
      font-display: swap;
    }

    @font-face {
      font-family: "Poppins";
      font-weight: 500;
      font-style: normal;
      src: url("https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9Z1xlFjZY.ttf")
        format("truetype");
      font-display: swap;
    }

    @font-face {
      font-family: "Poppins";
      font-weight: 600;
      font-style: normal;
      src: url("https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6Z1xlFjZY.ttf")
        format("truetype");
      font-display: swap;
    }

    @font-face {
      font-family: "Poppins";
      font-weight: 700;
      font-style: normal;
      src: url("https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLFj6Z1xlFjZY.ttf")
        format("truetype");
      font-display: swap;
    }

    @font-face {
      font-family: "Poppins";
      font-weight: 800;
      font-style: normal;
      src: url("https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLPT5Z1xlFjZY.ttf")
        format("truetype");
      font-display: swap;
    }

    @font-face {
      font-family: "Poppins";
      font-weight: 900;
      font-style: normal;
      src: url("https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLzT5Z1xlFjZY.ttf")
        format("truetype");
      font-display: swap;
    }

    /* Apply the font-family to specific elements */

    body,
    html {
      font-family: "Poppins", sans-serif;
      font-size: 100%;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: var(--bodyTextColor);
      overflow-x: hidden;
    }

    *,
    *:before,
    *:after {
      margin: 0;
      box-sizing: border-box;
      padding: 0;
    }

    body {
      transition: background-color 0.3s;
    }

    .container {
      width: 92%;
      margin: auto;
      position: relative;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      margin: 0;
      color: #fff;
    }

    p,
    li,
    a {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      margin: 0;
    }

    p,
    li {
      color: #353535;
    }

    a,
    button {
      &:hover {
        cursor: pointer;
      }
    }

    // Hidden Screen reader skip nav button
    .skip {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1111111;
    }
  }

  /* Reset Margins */
  @media only screen and (min-width: 1024px) {
    body,
    html {
      margin: 0;
      padding: 0;
    }
  }

  /* Scale full website with the viewport width */
  @media only screen and (min-width: 2000px) {
    body,
    html {
      font-size: 0.85vw;
    }
  }

  /*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

  /* Mobile - 1023px */
  @media only screen and (max-width: 63.9375rem) {
    body {
      &.cs-open {
        overflow: hidden;
      }

      &.scroll {
        #cs-navigation {
          width: 100%;
          max-width: 100%;
          top: 0;

          &:before {
            border-radius: 0;
          }

          .cs-ul-wrapper {
            top: 100%;
          }
        }
      }
    }

    #cs-navigation {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      /* 12px - 24px */
      padding: clamp(0.75rem, 2vw, 1.5rem);
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      /* 12px - 24px */
      // border-radius: clamp(0.75rem, 2vw, 1.5rem);
      position: fixed;
      // top: calc(32 / 16 * 1rem);
      left: 50%;
      z-index: 10000;
      transform: translateX(-50%);
      transition: top 0.3s, border-radius 0.3s, width 0.3s, max-width 0.3s;

      &:before {
        /* background color */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        /* 12px - 24px */
        // border-radius: clamp(0.75rem, 2vw, 1.5rem);
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: transform 0.2s, border-radius 0.3s ease-in-out;
      }

      &.cs-active {
        &:before {
          transform: translateX(-50%) scale(1.03);
        }
        .cs-toggle {
          transform: rotate(180deg);
        }

        .cs-ul-wrapper {
          transform: scaleY(1);
          transition-delay: 0.15s;
        }

        .cs-li {
          transform: translateY(0);
          opacity: 1;
        }
      }

      .cs-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: calc(24 / 16 * 1rem);
      }

      .cs-logo {
        width: auto;
        max-width: calc(200 / 16 * 1rem);
        height: 100%;
        margin: 0 auto 0 0;
        padding: 0;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 10;

        img {
          width: 100%;
          height: 100%;
          /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
          object-fit: contain;
        }
      }

      .cs-toggle {
        width: calc(56 / 16 * 1rem);
        height: calc(56 / 16 * 1rem);
        margin: 0 0 0 auto;
        border-radius: calc(4 / 16 * 1rem);
        background-color: var(--primary);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
        transition: transform 0.6s;
      }

      .cs-nav {
        /* sends it to the right in the 3rd position */
        order: 3;
      }

      .cs-contact-group {
        display: none;
        position: relative;
        z-index: 10;
      }

      // .cs-phone {
      //   font-size: calc(16 / 16 * 1rem);
      //   line-height: 1.5em;
      //   text-decoration: none;
      //   margin: 0;
      //   color: var(--offWhite);
      //   display: flex;
      //   justify-content: flex-start;
      //   align-items: center;
      //   gap: calc(8 / 16 * 1rem);
      //   transition: opacity 0.3s, color 0.3s;
      // }

      // .cs-phone-icon {
      //   width: calc(24 / 16 * 1rem);
      //   height: auto;
      //   // filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(161deg)
      //   //   brightness(103%) contrast(101%);
      //   display: block;
      // }

      .cs-social {
        display: none;
      }

      .cs-active {
        .cs-line1 {
          top: 50%;
          transform: translate(-50%, -50%) rotate(225deg);
        }

        .cs-line2 {
          top: 50%;
          transform-origin: center;
          transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
        }

        .cs-line3 {
          bottom: 100%;
          opacity: 0;
        }
      }

      .cs-box {
        /* 24px - 28px */
        width: clamp(1.5rem, 2vw, 1.75rem);
        height: calc(16 / 16 * 1rem);
        position: relative;
      }

      .cs-line {
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      .cs-line1 {
        top: 0;
        transform-origin: center;
        transition: transform 0.5s, top 0.3s, left 0.3s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-direction: normal;
      }

      .cs-line2 {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: top 0.3s, left 0.3s, transform 0.5s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-direction: normal;
      }

      .cs-line3 {
        bottom: 0;
        transition: bottom 0.3s, opacity 0.3s;
      }

      .cs-ul-wrapper {
        width: 100%;
        height: auto;
        padding-bottom: calc(48 / 16 * 1rem);
        opacity: 0;
        background-color: var(--primary);
        border-radius: 0 0 calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
        overflow: hidden;
        position: absolute;
        top: 85%;
        left: 0;
        z-index: -1;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.4s;
      }

      .cs-ul {
        margin: 0;
        padding: calc(64 / 16 * 1rem) 0 0 0;
        width: 100%;
        height: auto;
        max-height: 65vh;
        overflow: scroll;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        gap: calc(20 / 16 * 1rem);
      }

      .cs-li {
        width: 100%;
        text-align: center;
        list-style: none;
        margin-right: 0;
        /* transition from these values */
        transform: translateY(-4.375rem);
        opacity: 0;
        transition: transform 0.6s, opacity 0.9s;

        &:nth-of-type(1) {
          transition-delay: 0.05s;
        }
        &:nth-of-type(2) {
          transition-delay: 0.1s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.15s;
        }
        &:nth-of-type(4) {
          transition-delay: 0.2s;
        }
        &:nth-of-type(5) {
          transition-delay: 0.25s;
        }
        &:nth-of-type(6) {
          transition-delay: 0.3s;
        }
        &:nth-of-type(7) {
          transition-delay: 0.35s;
        }
        &:nth-of-type(8) {
          transition-delay: 0.4s;
        }
        &:nth-of-type(9) {
          transition-delay: 0.45s;
        }
        &:nth-of-type(10) {
          transition-delay: 0.5s;
        }
        &:nth-of-type(11) {
          transition-delay: 0.55s;
        }
        &:nth-of-type(12) {
          transition-delay: 0.6s;
        }
        &:nth-of-type(13) {
          transition-delay: 0.65s;
        }
      }

      .cs-li-link {
        /* 16px - 24px */
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        line-height: 1.2em;
        text-decoration: none;
        margin: 0;
        color: #fff;
        display: inline-block;
        position: relative;

        &.cs-active {
          color: var(--navActive);
        }

        &:hover {
          color: var(--navHover);
        }
      }

      .cs-button-solid {
        display: none;
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #cs-navigation {
      .cs-contact-group {
        display: block;
      }
    }
  }

  /*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    // body.scroll {
    //   #cs-navigation {
    //     width: 100%;
    //     max-width: 100%;
    //     border-radius: 0;
    //     top: 0;
    //   }
    // }

    #cs-navigation {
      width: 100%;
      max-width: 100%;
      height: calc(112 / 16 * 1rem);
      border-radius: 0;
      // box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
      top: 0;
      /* 12px - 24px */
      padding: clamp(0.75rem, 2vw, 1.5rem) 0;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      background: transparent;
      // background: var(--primary);
      display: flex;
      align-items: center;
      position: fixed;
      left: 50%;
      z-index: 10000;
      transform: translateX(-50%);
      transition: top 0.3s, border-radius 0.3s, width 0.3s, max-width 0.3s;

      &.hidden {
        top: -100%; // This will hide the navigation by moving it out of view
        transition: top 0.3s;
      }

      .cs-container {
        width: 100%;
        max-width: calc(1440 / 16 * 1rem);
        margin: auto;
        padding: 0 calc(24 / 16 * 1rem);
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: calc(24 / 16 * 1rem);
      }

      .cs-toggle {
        display: none;
      }

      .cs-logo {
        width: 18.4%;
        max-width: calc(350 / 16 * 1rem);
        height: calc(64 / 16 * 1rem);
        /* margin-right auto pushes everything away from it to the right */
        margin: 0 auto 0 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 100;

        img {
          width: auto;
          height: 100%;
          /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
          object-fit: contain;
        }
      }

      .cs-contact-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calc(24 / 16 * 1rem);
      }

      .cs-header-button {
        font-size: calc(16 / 16 * 1rem);
        // line-height: calc(56 / 16 * 1rem);
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        font-weight: 700;
        overflow: hidden;
        margin: 0;
        color: #fff;
        padding: 0 calc(48 / 16 * 1rem);
        border-radius: calc(30 / 16 * 1rem);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        border: 1px solid transparent;
        background-color: var(--accent);
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: color 0.3s;
  
        &:before {
          content: "";
          position: absolute;
          display: block;
          height: 100%;
          width: 0%;
          background: #e86b6b;
          opacity: 1;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
        }
  
        &:hover,
        &:focus {
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
          // border-color: #ffffff;
        }
  
        &:hover:before,
        &:focus:before {
          width: 100%;
        }
      }

      .cs-ul-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        /* absolutely positioned to be dead center */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .cs-ul {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* 20px - 36px */
        gap: clamp(1.25rem, 2.6vw, 2.25rem);
      }

      .cs-li {
        list-style: none;
        height: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        /* prevent flexbox from squishing it */
        flex: none;
      }

      /* Base styling for links */
      .cs-li-link {
        font-size: calc(16 / 16 * 1rem);
        // text-transform: uppercase;
        font-weight: 700;
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: #e3e3e3;
        display: block;
        position: relative;
        transition: color 0.3s;

        &:hover {
          color: #a9c5e9;
        }

        &.cs-active {
          /* **Changes from Original Code Start Here** */
          position: relative; /* Reset position */
          // color: #befcff;
          color: #a9c5e9;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px; /* Adjust this value to control the distance of the underline from the text */
            width: 100%;
            height: 2px; /* Adjust this value to control the thickness of the underline */
            background-color: var(--primary);
            background-color: #a9c5e9; /* Color of the underline */
          }
          /* **Changes from Original Code End Here** */
        }
      }

      .cs-button-solid {
        font-size: calc(16 / 16 * 1rem);
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: var(--offWhite);
        min-width: calc(150 / 16 * 1rem);
        padding: 0 calc(32 / 16 * 1rem);
        background-color: var(--secondary);
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        transition: color 0.3s;

        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 0%;
          background: var(--primaryLight);
          opacity: 1;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
        }

        &:hover {
          color: var(--primary);
          &:before {
            width: 100%;
          }
        }
      }
    }
  }

  /* Large Desktop - 1300px */
  @media only screen and (min-width: 81.25rem) {
    #cs-navigation {
      .cs-social {
        display: flex;
      }
    }
  }

  /*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #contact-1392 {
      padding: var(--sectionPadding);
      padding-bottom: 0;
      background-color: #fff;
      position: relative;
      z-index: 10;

      .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: calc(584 / 16 * 1rem);
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        column-gap: auto;
        /* 48px - 64px */
        gap: clamp(2rem, 3vw, 3rem);
        position: relative;
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
      }

      .cs-title {
        max-width: 23ch;
        color: #000;
      }

      .cs-text {
        margin-bottom: calc(16 / 16 * 1rem);
        &:last-of-type {
          margin-bottom: calc(32 / 16 * 1rem);
        }
      }

      .cs-ul {
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: calc(24 / 16 * 1rem);
        position: relative;
      }

      .cs-li {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: calc(20 / 16 * 1rem);

        &:hover {
          .cs-icon-wrapper {
            transform: scale(1.1);
          }
        }
      }

      .cs-header {
        font-size: calc(20 / 16 * 1rem);
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: calc(12 / 16 * 1rem);
        color: #000;
        display: block;
      }

      .cs-link {
        font-size: calc(16 / 16 * 1rem);
        line-height: 1.5em;
        text-decoration: none;
        color: #767676;
        display: block;
        position: relative;

        &:hover {
          text-decoration: underline;
        }
      }

      .cs-icon-wrapper {
        width: calc(60 / 16 * 1rem);
        height: calc(60 / 16 * 1rem);
        margin: 0;
        border-radius: 50%;
        border: 1px solid #bababa;
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents flexbox from squishing it */
        flex: none;
        transition: transform 0.3s;
      }

      .cs-icon {
        width: calc(24 / 16 * 1rem);
        height: auto;
        display: block;
      }

      .cs-form {
        width: 100%;
        max-width: calc(630 / 16 * 1rem);
        /* -30px to -100px */
        margin-bottom: calc(clamp(1.875rem, 7vw, 6.25rem) * -1);
        /* 24px - 48px top and bottom */
        /* 16px - 48px left and right */
        padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
        /* prevents flexbox from affecting height and width */
        box-sizing: border-box;

        background-color: #f4f4f4;
        border-radius: calc(16 / 16 * 1rem);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: calc(12 / 16 * 1rem);
      }

      .cs-h3 {
        /* 20px - 39px */
        font-size: clamp(1.25rem, 3vw, 2.4375rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 calc(4 / 16 * 1rem) 0;
        margin-bottom: calc(10 / 16 * 1rem);
        color: #000;
      }

      .cs-label {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        width: 100%;
        color: #232023;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: calc(4 / 16 * 1rem);
        margin-bottom: calc(10 / 16 * 1rem);
      }

      .cs-input {
        font-size: calc(16 / 16 * 1rem);
        width: 100%;
        height: calc(56 / 16 * 1rem);
        padding: 0;
        padding-left: calc(24 / 16 * 1rem);
        color: #727272;
        background-color: #fff;
        border-radius: calc(8 / 16 * 1rem);
        border: none;
        /* prevents padding from adding to height and width */
        box-sizing: border-box;
        &::placeholder {
          color: #7d799c;
          opacity: 0.8;
        }
      }

      .cs-textarea {
        min-height: calc(120 / 16 * 1rem);
        padding-top: calc(24 / 16 * 1rem);
        margin-bottom: calc(12 / 16 * 1rem);
        font-family: inherit;
        background-color: #fff;
      }

      .cs-button-solid {
        font-size: calc(16 / 16 * 1rem);
        line-height: calc(56 / 16 * 1rem);
        text-decoration: none;
        font-weight: 700;
        overflow: hidden;
        margin: 0;
        color: #fff;
        padding: 0 calc(48 / 16 * 1rem);
        border-radius: calc(30 / 16 * 1rem);
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: color 0.3s;

        &:before {
          content: "";
          position: absolute;
          display: block;
          height: 100%;
          width: 0%;
          background: var(--secondary);
          opacity: 1;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s;
        }

        &:hover {
          color: var(--primary);
          &:before {
            width: 100%;
          }
        }
      }

      .cs-submit {
        width: 100%;
        min-width: calc(200 / 16 * 1rem);
        border: none;

        &:hover {
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #contact-1392 {
      .cs-container {
        max-width: calc(1280 / 16 * 1rem);
        flex-direction: row;
        justify-content: space-between;
      }

      .cs-content {
        width: 47%;
        /* prevents flexbox from squishing it */
        flex: none;
      }

      .cs-submit {
        width: auto;
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #contact-1392 {
      .cs-form {
        width: 46%;
        max-width: calc(578 / 16 * 1rem);
      }

      .cs-submit {
        width: auto;
      }
    }
  }

  /* Large Desktop - 1500px */
  @media only screen and (min-width: 93.75rem) {
    #contact-1392 {
      .cs-graphic {
        display: block;
      }
    }
  }

  /*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #footer-1392 {
      padding: var(--sectionPadding);
      /* 80px - 100px */
      padding-top: clamp(5rem, 7vw, 6.25rem);
      background-color: var(--primary);
      position: relative;
      z-index: 1;

      .cs-container {
        width: 100%;
        max-width: calc(1280 / 16 * 1rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .cs-top {
        width: 100%;
        margin-bottom: calc(40 / 16 * 1rem);
        /* 24px - 64px */
        padding-bottom: clamp(1.5rem, 5vw, 4rem);
        // border-bottom: 1px solid #484848;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* 24px - 40px */
        gap: clamp(1.25rem, 4vw, 2.5rem);
      }

      .cs-ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: calc(8 / 16 * 1rem);
        /* 24px - 36px */
        column-gap: clamp(1.5rem, 4vw, 2.25rem);
      }

      .cs-li {
        list-style: none;
      }

      .cs-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: #fff;
        display: block;
        transition: color 0.3s;

        &:hover {
          color: var(--secondary);
        }
      }

      .cs-logo {
        width: 100%;
        max-width: calc(209 / 16 * 1rem);
        height: auto;
        display: block;
      }

      .cs-logo-img {
        width: 100%;
        height: auto;
        display: block;
      }

      .cs-bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(16 / 16 * 1rem);
      }

      .cs-social {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calc(8 / 16 * 1rem);
      }

      .cs-social-li {
        list-style: none;
      }

      .cs-social-link {
        width: calc(32 / 16 * 1rem);
        height: calc(32 / 16 * 1rem);
        background-color: var(--primary);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
        &:hover {
          background-color: var(--primary);

          .cs-social-icon {
            filter: grayscale(1) brightness(1000%);
            opacity: 1;
          }
        }
      }

      .cs-social-icon {
        width: calc(16 / 16 * 1rem);
        height: auto;
        display: block;
        opacity: 0.6;
        transition: opacity 0.3s;
      }

      .cs-copyright {
        font-size: calc(16 / 16 * 1rem);
        color: var(--offWhite);
        line-height: 1.5em;
        margin: 0;
        display: block;
      }

      .cs-copyright-link,
      .cs-separater {
        font-size: calc(16 / 16 * 1rem);
        text-decoration: none;
        color: var(--offWhite);
        transition: color 0.3s;

        &:hover {
          color: var(--secondary);
        }
      }

      .cs-separater {
        margin: 0 calc(16 / 16 * 1rem);
        display: inline-block;
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #footer-1392 {
      .cs-top {
        align-items: flex-start;
      }

      .cs-bottom {
        flex-direction: row;
        justify-content: center;
      }

      .cs-flex {
        margin: 0 auto;
      }

      .cs-social {
        /* sends it to the right in the 3rd position */
        order: 3;
      }
    }
  }
}
